<!DOCTYPE html>
<html>
  <head>
    <title>Marlon Dimaano | Full-Stack Web Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      new WOW().init();
    </script>

    <style media="screen">
      .texter {
          font-family: 'Source Sans Pro', sans-serif;
      }
      .navbar-default {
        background: transparent;
        border-color: rgb(198, 201, 206);
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        position: fixed;
        width: 100%;
      }

      .custom-nav {
        opacity: 0.4;
        transition: opacity .50s ease-in-out;
        position: fixed;
      }

      .custom-nav:hover {
        opacity: 1;
      }

    </style>
  </head>

  <body class="texter">
  <!-- Navbar -->
    <div class="custom-nav" style="z-index: 99">
      <nav class="navbar navbar-default wow animated fadeIn" data-wow-delay="5.5s">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#education">About</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#contacts">Contacts</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
<!-- Navbar end -->

      <%= yield %>
    </div>
  </body>
</html>
